@model SMART.Web.Models.Endereco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Endereco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enlogradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enlogradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ennumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ennumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encomplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encomplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enbairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enbairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnidusuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnidusuarioNavigation.Usid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Enid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
